.about-header {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: var(--textcolor);
    text-align: center;
}

.about-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.about-container .about-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: rgb(0, 0, 0); */
    /* width: fit-content; */
    max-width: 50%;
    padding: 15px;
    border-radius: 1px;
    border-left: 2px solid var(--opacity);
    border-right: 2px solid var(--opacity);
}

.about-container .about-wrapper p {
    text-align: center;
    /* padding: 0 15px 30px 15px; */
    color: var(--textcolor);
}

.about-container .asulogo {
    width: 15vw;
}

.resume-container {
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    color: white;
}

.resume-button {
    background-color: var(--blue);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 10px;
    color: white;
    font-weight: 600;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.resume-button:hover {
    filter: brightness(0.9);
}