footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

footer div p {
    margin: 40px;
}