.proficiency-header {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: var(--textcolor);
    text-align: center;
}

.proficiency-container {
    padding: 15px 45px 45px 45px;
    display: flex;
    gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-container {
    background-color: rgb(89, 89, 89);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.skill-container .skill-card {
    background-color: var(--cardcolor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--textcolor);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: max-content;
    margin: 10px;
    text-align: center;
}

.skill-container .skill-card img {
    width: 100px;
    height: 100px;
}

.skill-container .skill-card .react  {
    filter: invert(91%) sepia(13%) saturate(6938%) hue-rotate(162deg) brightness(100%) contrast(97%);
}

.skill-container .skill-card .go  {
    filter: invert(51%) sepia(21%) saturate(2486%) hue-rotate(151deg) brightness(99%) contrast(101%);
}

.skill-container .skill-card .cpp  {
    filter: invert(21%) sepia(84%) saturate(1835%) hue-rotate(187deg) brightness(95%) contrast(101%);
}