.projects-header {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: var(--textcolor);
    text-align: center;
}

.projects-container {
    padding: 15px 45px 45px 45px;
    display: flex;
    gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-container .project-card {
    background-color: var(--cardcolor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: var(--textcolor);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20vh;
}

.projects-container .project-card div {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.projects-container .project-card a {
    color: white;
    font-weight: 600;
    padding: 10px;
    background-color: var(--light-blue);
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: block;
    width: 100%;
    margin: 10px;
    font-size: 1.5ch;
}

.projects-container .project-card a:hover {
    filter: brightness(0.85);
}

@media (min-width: 800px) {
    .projects-container .project-card {
        width: 19vw;
    }
}
