.projects-header {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: var(--textcolor);
    text-align: center;
}

.projects-container {
    padding: 0 0 45px 0;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.projects-container .project-card {
    background-color: var(--cardcolor);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 15px;
    border-radius: 2px;
    text-align: center;
    color: var(--textcolor);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20vh;
}

.projects-container .project-card div {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.projects-container .project-card a {
    /* color: white; */
    color: var(--textcolor);
    font-weight: 600;
    padding: 10px;
    background-color: var(--button-default);
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: block;
    width: 100%;
    margin: 10px;
    font-size: 1.5ch;
}

.projects-container .project-card a:hover {
    background-color: var(--button-highlight);
}

@media (min-width: 800px) {
    .projects-container .project-card {
        width: 19vw;
    }
}
