@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
/* t, r, b, l */

:root {
    --dark: rgb(35, 35, 35);
    --blue: rgb(65, 65, 239);
    --light-blue: rgb(124, 124, 249);
}

[data-theme='light'] {
    --bgcolor: rgb(255, 255, 255);
    --contact: rgb(124, 124, 249);
    --textcolor: rgb(0, 0, 0);
    --cardcolor: rgb(255, 255, 255);
    --shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

[data-theme='dark'] {
    --bgcolor: rgb(35, 35, 35);
    --contact: rgb(255, 255, 255);
    --textcolor: rgb(255, 255, 255);
    --cardcolor: rgb(31, 31, 31);
    --shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;

    list-style: none;
    text-decoration: none;

    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

a {
    color: var(--textcolor);
}

a:visited {
    color: inherit;
}

.App {
    background-color: var(--bgcolor);
}

.divider {
    border-top: 3px solid #bbb;
    margin: auto;
    width: 80%;
    border-radius: 15px;
}

.scroll-top {
    padding: 15px;      
    background-color: var(--light-blue);
    box-shadow: var(--shadow);
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.scroll-top:hover {
    filter: brightness(0.85);
}

.scroll-top .arrow {
    color: white;
}

@media (hover:hover) {
    .scroll-top {
        opacity: 1;
    }
}
