@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
/* t, r, b, l */

:root {
    --dark: rgb(35, 35, 35);
    --blue: rgb(65, 65, 239);
    --light-blue: rgb(124, 124, 249);
}

[data-theme='light'] {
    --bgcolor: #f0f0f0;
    --wall: rgb(241, 241, 241);
    --contact: rgb(124, 124, 249);
    --textcolor: rgb(0, 0, 0);
    --contrast-text: rgb(255, 255, 255);
    --cardcolor: rgb(255, 255, 255);
    --shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    --button-default: rgb(0, 0, 0, 0.07);
    --button-highlight: rgb(0, 0, 0, 0.15);
    --footer-bg: rgb(196, 196, 196);
    --footer-text: rgb(41, 41, 41);
}

[data-theme='dark'] {
    --bgcolor: #121212;
    --wall: rgb(57, 57, 57);
    --contact: rgb(255, 255, 255);
    --textcolor: rgb(255, 255, 255);
    --contrast-text: rgb(0, 0, 0);
    --cardcolor: rgb(31, 31, 31);
    --shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    --button-default: rgb(255, 255, 255, 0.05);
    --button-highlight: rgb(255, 255, 255, 0.15);
    --footer-bg: rgb(25, 25, 25);
    --footer-text: rgb(128, 128, 128);
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;

    list-style: none;
    text-decoration: none;

    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

a {
    color: var(--textcolor);
}

a:visited {
    color: inherit;
}

.divider {
    border-top: 2px solid #bbb;
    margin: auto;
    width: 75%;
    border-radius: 15px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }